.verifyTwo {
  position: relative;
  margin: auto;
  padding-top: 20%;
  padding-bottom: 30%;
  width: 85%;
  height: 80vh;
  overflow-y: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.verifyContainer {
  input {
    margin-bottom: 20%;
  }
  button {
    width: 100%;
    border-radius: 5px;
    border: 0;
    color: white;
    background-color: #6d9773;
    padding: 12px 0px;
    margin-bottom: 12px;
  }
}
