@import "../../utils/styles/_global";

.UserView {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;

  .searchContainer {
    padding: 24px;
    display: flex;
    width: 100%;
    align-items: center;

    .searchbar {
      height: 3em;
      width: 100%;
      border-radius: 12px;
      border: 1.5px rgba($color: #000000, $alpha: 0.2) solid;
      padding: 12px;
      margin-right: 6px;
    }

    img {
      height: 2em;
    }
  }

  .storePic{
    width: 35%;
    height: 75px;
    border: 2px solid black;
  }

  .results {
    height: 100%;
    overflow: scroll;
    width: 100%;
  }
  ::-webkit-scrollbar{
    display: none;
  }
}
