.App {
  background-color: #6d977375;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .appMobileContainer {
    height: 640px;
    width: 360px;
    background: white;
    position: relative;
    overflow: hidden;
    border-radius: 48px;
    border: 6px solid black;
    box-shadow: 0 0 12px 6px rgba($color: #000000, $alpha: 0.2);
  }
}
