@import "../../utils/styles/_global";

.RetailerView {
  height: 100vh;
  width: 100%;
  position: relative;
  padding-top: 5%;
  overflow: hidden;

  // both headers style, waitlist and holdlist

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 2em;
      font-weight: 200;
    }

    .time {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        height: 36px;
        margin-right: 6px;
      }
    }
  }

  // both list element's styles, waitlist and holdlist

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba($color: #bbbbbb, $alpha: 1);
    padding: 2px 12px;
    margin-bottom: 12px;
    font-weight: 300;
    position: relative;

    .menu {
      position: absolute;
      right: 0;
      background: white;
      height: 100%;
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 48px 0 0 48px;

      // placeholder
      .icon {
        height: 36px;
        width: 36px;
        border-radius: 50%;
        margin: 0 36px;
        background: rgba($color: #000000, $alpha: 0.2);
      }
    }

    .phoneNumber {
      width: 100%;
    }
    .time {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;

      img {
        height: 24px;
      }

      p {
        margin-right: 24px;
        margin-left: 12px;
        width: fit-content;
      }
    }

    .menuButton {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 36px;

      .bar {
        width: 24px;
        height: 2px;
        background-color: white;
      }
    }
  }

  .WaitList {
    height: 100%;
    padding: 0 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;

    .listContainer {
      overflow: scroll;
      padding-bottom: 35vh;
    }
  }

  .HoldList {
    position: absolute;
    background: $darkgreen;
    height: 100vh;
    width: 100%;
    top: 64%;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 48px 48px 0 0;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 1%;
    box-shadow: 0 0 12px 6px rgba($color: #000000, $alpha: 0.2);
    display: flex;
    flex-direction: column;

    .expand {
      height: 1.5em;
      width: 1.5em;
      transform: rotate(-135deg);
      border-bottom: 6px solid rgba($color: #ffffff, $alpha: 0.3);
      border-right: 6px solid rgba($color: #ffffff, $alpha: 0.3);
      margin-right: 12px;
      position: absolute;
      top: 2%;
      left: 47%;
    }

    .header {
      color: white;

      .collapse {
        height: 2em;
        width: 2em;
        transform: rotate(45deg);
        border-bottom: 8px solid rgba($color: #ffffff, $alpha: 0.3);
        border-right: 8px solid rgba($color: #ffffff, $alpha: 0.3);
        margin-right: 12px;
      }
    }

    .listContainer {
      overflow: scroll;
      padding-bottom: 35vh;
    }
  }
}
